@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row" style="padding-top:15px">
    </div>
    <!-- Bordered Table -->
    <div class="card">
        <div class="card-header">
            <div class="col-md-8 float-left" style="text-align: right;float: right;">
                <button id="addBook" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped table-bordered text-nowrap" style="width:100%" id="BooksGrid">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>PublishYear</th>
                            <th>Genre</th>
                            <th>Language</th>
                            <th>PageCount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <partial name="_addEditBookPartial.cshtml" />
</div>
<script src="~/lib/jspdf/jspdf.umd.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/BookController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new BookController();
        ctrl.init();
    });
</script>
